.pdf
.sql
.env
.env.example
public
resources/views/inscripcion
resources/views/pdf/inscritos.blade.php
resources/views/welcome.blade.php
resources/views/libreta-individual.blade.php
resources/views/libreta-individual-reporte.blade.php
